---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
const happy = true;
const finished = true;

const identify = {
  firstName: "Massan",
  country: "Japan",
  occupation: "ojisan",
  hobbies: ["photograpy", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript"];
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <style define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>
  <h1>{pageTitle}</h1>
  <p>このサイトはAstroのチュートリアルを実践していくサイトです。</p>
  <p>中身はとくに考えていません。これはaboutページです。</p>
  <ul>
    <li>My name is: {identify.firstName}</li>
    <li>I live in {identify.country}.</li>
    {
      identify.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identify.hobbies[0]} and {identify.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My Skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
